body{
  background: radial-gradient(green),gray);
}
form label{
  display: block;
  font-size: 20px;
}

table{
    background-color: darkturquoise;
}

th, td {
  border: 2px solid;
  border-color: orange;
  font-size: 24px;

}